$black: #212121;
$black2: #262626;
$white: #ffffff;
$blue: #5586a3;
$blue1: #00bcbc;
$blue2: #70bfff;
$blue3: #7ee0e0;
$blue4: #355b82;
$blue5: #00c4c4;
$yellow: #ffe92f;
$fiolet: #b07cf7;
$orangeHead: #ff6033;
$orange: #ff6030;
$green: #97ba28;
$gray: #b9b9b9;
$red: #f72739;
$footerlove: #ff2758;